@model IEnumerable<SIGEM_BIDSS.Models.tbPuesto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.are_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pto_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pto_UsuarioCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pto_FechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pto_UsuarioModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pto_FechaModifica)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.are_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pto_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pto_UsuarioCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pto_FechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pto_UsuarioModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pto_FechaModifica)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pto_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.pto_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pto_Id })
        </td>
    </tr>
}

</table>
